<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Naruči Has | Aplikacija za ugostiteljske objekte</title>
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app='starterApp' layout='column' ng-controller='HasController'>
<script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="./bower_components/angular-route/angular-route.js" type="text/javascript" ></script>
<script src="./bower_components/angular-messages/angular-messages.js" type="text/javascript" ></script>
<script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
<script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
<script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
<script src="./js/app.js"></script>

<md-toolbar layout="column" id="Navbar">
      <span layout="row" layout-padding>
      <h2 class="md-toolbar-tools" style="font-family: Trebuchet MS;"><strong>Naruči Has&nbsp;</strong> Aplikacija za ugostiteljske objekte</h2>
      <md-button ng-href="/#/" id="movebottom">Konobari</md-button>
      <md-button ng-href="/#/create">Dodaj</md-button>
      <md-button ng-href="/#/view">Kuhinja</md-button>
      <md-button ng-href="/#/delete" ng-click="delete()">Izbriši</md-button>
      </span>
</md-toolbar>

<div flex layout="column" layout-align="left" ng-view>
</div>
<footer>
</footer>
</body>
</html>
